<!DOCTYPE html>

    <head>
        <meta charset="utf-8"/>
        <title>ChatBot</title>
        <link rel="stylesheet" type="text/css" href="../static/css/chatbot.css">
        
    </head>

    <body>

        <div class="box" id="father-box-1">
           
                <div id="info-box" class="child-box">
                    <div id="data-box">
                        <label>Sugerencias</label>
                    </div> 

                </div>

                <div id="child-2">

                </div>    
        </div>

        <div class="box" id="father-box-2">

            
            <div id="child-3">
            
            </div>

            <div id="child-4" class="child-box">
                <select>
                    <option value="value1" selected>Value 1</option>
                    <option value="value2">Value 2</option>
                    <option value="value3">Value 3</option>
                </select>

                <button> SEND </button>
            </div>

        </div>

        <div id="bar-box">
            <progress value="19" max="90">
            </progress>
        </div>

    </body>

    <footer>

    </footer>

</html>