<!DOCTYPE html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main_theme.css">
        <link rel="stylesheet" type="text/css" href="../static/css/home_theme.css">
        <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="background-box">
 
            <div class="menu-bar">
                <input type="submit" value="Perfil" class="menu-bar-item">
                <input type="submit" value="Modulos" class="menu-bar-item">
                <input type="submit" value="Herramientas" class="menu-bar-item">
                <input type="submit" value="Logros" class="menu-bar-item">
                <input type="submit" value="Soporte" class="menu-bar-item">
            </div>

            <div class="scroll-bar">
                
            </div>

            <div class="player-box">
                <nav>
                    <a class="module-item">Bienvenido al Chat Bot</a>
                    <a class="module-item">Romper el hielo y destacar</a>
                    <a class="module-item">Menos es mas</a>
                    <a class="module-item">Contenido ejemplo</a>
                    <a class="module-item">Contenido ejemplo</a>
                    <a class="module-item">Contenido ejemplo</a>
                    <a class="module-item">Contenido ejemplo</a>
                </nav>
            </div>
    </body>
    
</html>