<!DOCTYPE html>

    <head>

        <title>Lookdaluv</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/css/main_theme.css">
        <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

    </head>

    <body>

        <div class="background-box">

            <div class="titlebar">
                <h1 id="title-id" class="title">LOOKDALUV</h1>
            </div>

            <div id="text_1" class="text-box">
                Lookdaluv es la plataforma de aprendizaje interactiva que lo ayudara a convertirse en el arma de seducción definitiva.
            </div>
            <div id="text_2" class="text-box">
                Con un enfoque en la ingenieria social, vas a aprender de 0 a 100 los secretos de este misterioso arte y te enseñaremos a utilizarlo con las mujeres.
            </div>
            <div id="text_3" class="text-box">
                Contamos con un "chat bot" inteligente, usted interactuara mediante un chat y nosotros le daremos un feedback directo. Sabrá que hace mal y podrá pulir sus habilidades.
            </div>
            <div id="text_4" class="text-box">
                Nuestro modulo de simulación de citas le permitirá practicar y perfeccionar patrones correctos y maneras de actuar frente a diferentes situaciones y entornos.
            </div>
            <div id="text_5" class="text-box">
                Es todo muy intuitivo y amigable, usted se divertira mientras gana conocimientos, le proporcionaremos herramientas para ayudarlo a conseguir el objetivo.
            </div>
            <div id="text_6" class="text-box">
                No todo se basa en las chicas, nuestro objetivo es que usted alcance un desarrollo personal pleno, cultive seguridad en si mismo y gane fortaleza.
            </div>

            <img src="../static/images/scroll-icon.png" class="invert scroll-icon-position" width="75" height="75">
            <img src="../static/images/logo.png" id="logo" class="img" width="400" height="400">
            
        </div>

    </body>

    <script src="../static/js/scroll-animation.js"></script>

    <footer class="footer-style">
        <!-- <p>TODOS LOS DERECHOS RESERVADOS: LOOKDALUV & CO</p> -->
    </footer>

</html>