<!DOCTYPE html>

    <head>
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="../static/css/profile_theme.css">
    </head>

    <body>
        <div class="box" id="profile-box">

            <div id="child-1" class="child-box">

            </div>

            <div id="child-2" class="child-box">

            </div>

            <div id="child-3" class="child-box">

            </div>

        </div>
        <div class="box" id="statistic-box">

            <div id="child-4" class="child-box">

            </div>

            <div id="child-5" class="child-box">

            </div>
        </div>
    </body>
</html>